// Layout
$layout-header-height: 64px;

// Tabs
$tabs-horizontal-padding: 0;

// Table
$table-header-bg: #fff;
$table-header-color: #98A9BC;

// Modal
$modal-header-padding-horizontal: 24px;
$modal-footer-padding-horizontal: 24px;

// Form
$form-vertical-label-padding: 0;

